Requires Node Version 18.0.0 or greator

// Dependencies

npm install electron@latest
npm install python-shell //in local file directory
and many more...

//Testing and Debugging

npm start
npm test // only for js

