html, * {
    margin: 0;
    padding: 0;
    --bg-main: #181818;
    --titlebar-bg: #1b1d23;
    --border-color: #343b4b;
    --sidebar-bg: #272c36;
    --text-color: #949aa7;
    --complementary-color: #4f9fee;
}

/* Side bar Styles */

.side-bar {
    position: absolute;
    width: 35vw;
    min-width: 100px;
    height: calc(100% - 39px);
    background-color: var(--sidebar-bg);
    z-index: -2;
    border-right: 4px solid var(--border-color);
    left: 0;
}


/* Main App Styles */

.mainChat {
    position: absolute;
    height: calc(100% - 39px);
    width: calc(100% - 35vw - 4px);
    background-color: #1b1d23;
    right: 0;
    bottom: 0;
}

/* Tabs Style */

.tablinks {
    position: relative;
    width: 97%;
    height: 60px;
    font-size: 18px;
    color: var(--text-color);
    background-color: var(--titlebar-bg);
    border: none;
    margin-top: 1.5% !important;
    left: 50%;
    border-radius: 10px;
    transform: translateX(-50%);
    transition: all 550ms;
    user-select: none;
}

.tablinks:hover {
    background-color: var(--complementary-color);
    color: black;
}

/* Tab Contents Styles */

.tabcontent {
    position: relative;
    width: 100%;
    height: 100%;
    animation: fadeEffect 1s;
}

/* News Style */
#News {
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: normal;
}

.newsTab {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 96%;
    height: 220px;
    background-color: var(--sidebar-bg);
    border-radius: 8px;
    margin-top: 10px !important;
    margin: 0 auto;
    overflow: hidden;
    color: white;
    transition: all 250ms;
    cursor: pointer;
}

.newsTab > div {
    padding-left: 10px;
}

.newsTab > div > img {
    height: 200px;
    width: auto;
    float: left;
}

.newsTab > div > div  {
    padding-left: 310px;
    height: 100%;
}

.author {
    position: relative;
    bottom: 0;
}

.newsTab:hover {
    background-color: var(--complementary-color);
    color: black;
    transform: scale(1.02);
}

.search-bar {
    position: fixed;
    margin: 4px;
    margin-right: 4px !important;
    width: 50%;
    height: 40px;
    background-color: #323232;
    z-index: 5;
}


/* Scroll Bar Styles */

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
}


::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 85, 85);
} 


/* Loading Status Styles */
#loading-status {
    position: absolute;
    left: 50%;
    z-index: 10;
    width: 100px;
    height: 20px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    background-color: var(--complementary-color);
    display: flex;
    gap: 10px;
    transition: all 250ms;
}



/* Main App Media Query */

@media screen and (min-width: 1000px){
    .side-bar {
        width: 350px;
    }
    .mainChat {
        width: calc(100% - 354px);
    }
}

/* Animations */

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.load-status {
    position: relative;
    bottom: 0 !important;
}